<!doctype html>
<html lang="de">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>
<body>
	<div class="container" style="background: #fff;">
		<div class="row" style="margin-top: 40px; margin-bottom: 50px;">
			<div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4 text-center">
				<img src="../drawable/app_analytics_poi_icon.svg" style="width: 80px;">
			</div>
		</div>
		<div class="row" style="margin-bottom: 10px;">
			<div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4" style="font-weight: bold; font-size: 17px;">
				Gemeinsam mit Ihnen wollen wir besser werden!
			</div>
		</div>
		<div class="row" style="margin-bottom: 10px;">
			<div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4" id="consentCopy1" style="font-size: 14px; line-height: 1.2em;">
				Um DB Bahnhof live gemeinsam mit Ihnen weiter zu verbessern, <b>möchten wir Sie bitten, der Verarbeitung Ihrer Daten im Umgang mit dieser App für Statistiken und Analysen zuzustimmen.</b> Mithilfe dieser anonymisierten Daten können wir die <b>Nutzererfahrung verbessern und frühzeitig Fehler erkennen und beseitigen.</b> Für Details sehen Sie bitte unsere <a href="">Datenschutzhinweise</a>.
			</div>
		</div>
		<div class="row">
			<div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4" id="consentCopy2" style="font-size: 14px; line-height: 1.2em;">
				Diese Zustimmung erfolgt freiwillig. Sie können Sie jederzeit unter <a href="">Datenschutz</a> widerrufen.
			</div>
		</div>
		<div class="row">
			<div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
				<div class="d-grid">
					<button type="button" id="buttonConsent"
							class="btn btn-primary btn-lg rounded-pill"
							style="margin-top: 40px; margin-bottom: 20px; min-height: 64px;"
					>
						Ich stimme zu
					</button>
					<button type="button" id="buttonDissent"
							class="btn btn-secondary btn-lg rounded-pill"
							style="margin-bottom: 50px; min-height: 64px;"
					>
						Nein, Danke
					</button>
				</div>
			</div>
		</div>
	</div>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</body>
</html>